/* CSS Vars */
:root
{
    --Main-Colour: #E5DCC6;
    --Accent-Colour-1: #866D50;
    --Accent-Colour-2: #775E41;
}

*
{
    margin: 0px;
    padding: 0px;
}

/* General Information
    Main Font: font-family: 'Imprima', sans-serif;
    Logo Font: font-family: 'Libre Barcode 39 Text';
    pagina css class&id names start with <pagename>_
*/

/* Menu CSS */

/* Footer CSS */
#Footer_Div
{
    width: 100vw;
    height: 6vh;
    background-color: var(--Accent-Colour-2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Footer_Links
{
    font-family: 'Imprima', sans-serif;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.Footer_Icons
{
    height: 5vh;
    margin: 0.25vw;
}

/* Homepage CSS */
