/* CSS Vars */
:root
{
    --Main-Colour: #E5DCC6;
    --Accent-Colour-1: #866D50;
    --Accent-Colour-2: #775E41;
}

/* General Information
    Main Font: font-family: 'Imprima', sans-serif;
    Logo Font: font-family: 'Libre Barcode 39 Text';
*/

/* Menu CSS */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
  }
  
  li a:hover {
    background-color: #111;
  }
/* Homepage CSS */
