/* CSS Vars Sofie*/
:root
{
    --Main-Colour: #E5DCC6;
    --Accent-Colour-1: #866D50;
    --Accent-Colour-2: #775E41;
}

*
{
    margin: 0px;
    padding: 0px;
}

/* General Information
    Main Font: font-family: 'Imprima', sans-serif;
    Logo Font:  font-family: 'Libre Barcode 39 Text';
    pagina css class&id names start with <pagename>_
*/

/* Menu CSS Shondrique*/
header{
    background-color: var(--Accent-Colour-1);
}
.ul_menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex; 
  align-items: center;
}
.p_menulogo{
    font-family: 'Libre Barcode 39 Text';
    line-height: 8vh;
    font-size: 25px;
    padding-right: 15px;

}

.menu_li {
    background-color: var(--Accent-Colour-1);
    margin-right: 20px;
    text-align: center;
    border: 9px;
    border-radius: 14px;
   
  }

.menu_li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu_li a:hover {
    background-color: var(--Accent-Colour-2);
    border: 9px;
    border-radius: 14px;
}

/* Footer CSS Sofie*/
#Footer_Div
{
    max-width: 100vw;
    height: 6vh;
    background-color: var(--Accent-Colour-2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Footer_Links
{
    font-family: 'Imprima', sans-serif;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.Footer_Icons
{
    height: 5vh;
    margin: 0.25vw;
}

/* Homepage CSS */
#Homepage_Main
{
    background-color: var(--Main-Colour);
    max-width: 100vw;
    min-height: 80vh;
    padding-top: 6vh;
}

/* Levering & Retour Sofie*/
#LeveringRetour_Main
{
    background-color: var(--Main-Colour);
    max-width: 100vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    padding-top: 6vh;
}
.LeveringRetour_Section
{
    width: 35vw;
    height: 26vh;
    margin-left: 8vw;
    margin-top: 6vh;
    margin-bottom: 6vh;
    font-family: 'Imprima', sans-serif;
}
.LeveringRetour_Subtitle
{
    margin-bottom: 2vh;
}
.LeveringRetour_Paragraph
{
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.LeveringRetour_ListItem
{
    margin-left: 2vw;
}

/* Webshop CSS Sofie*/
#Webshop_Main
{
    background-color: var(--Main-Colour);
    max-width: 100vw;
    min-height: 80vh;
    padding-top: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Imprima', sans-serif;
}
#Webshop_FilterDiv
{
    width: 18vw;
    min-height: 60vh;
    background-color: lightgray;

}
#Webshop_ProductDiv
{
    width: 70vw;
    min-height: 60vh;
    /* background-color: green; */
    border: 4px solid var(--Accent-Colour-2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
}
#Webshop_SearchBar
{
    width: 65vw;
    height: 8vh;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    background-color: lightgray;
}
.Webshop_Product
{
    width: 20vw;
    height: 30vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    margin-left: 2.5vw;
    background-color: paleturquoise;
}
.Webshop_Product_Title
{
    color: red;
}
.Webshop_Product_Price
{
    color: red;
}
.Webshop_Product_Img
{
    width: 20vw;
    height: 20vh;
}

/* Medewerkers CSS Emily*/

#med_main
{
    min-height: 86vh;
}
.medbody {
    background-color: #E5DCC6;
}

.med-flex-container {
    display: flex;
    justify-content: space-evenly;
}
  
.med-flex-container div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    height: 20vw;
    width: 12vw;
    
}

.medh1 {
    display: flex;
    justify-content: center;
}

.medpdiv {
    margin-top: 5vh;
    width: 30vw;
    
}

.meddiv {
   
   font-size: large;
   display: flex;
   justify-content: center;
   flex-direction: row-reverse;

   
}

.medimg {
    width: 25vw;
    height: 12vw;
    margin-right: 8.5vw;
}

.medh2 {
    margin-top: 120px;
}

/* Inlog CSS Sofie */
#Inlog_Main
{
    background-color: var(--Main-Colour);
    max-width: 100vw;
    min-height: 80vh;
    padding-top: 6vh;
    display: flex;
    justify-content: center;
}
#Inlog_Div
{
    width: 30vw;
    height: 60vh;
    background-color: var(--Accent-Colour-2);
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-family: 'Imprima', sans-serif;
    color: white;
}
#Login_Form
{
    display: flex;
    flex-direction: column;
    margin-top: 6vh;
    margin-bottom: 6vh;
}
.Inlog_Row
{
    min-width: 18vw;
    height: 2.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Inlog_Row input
{
    height: 4vh;
    background-color: var(--Main-Colour);
    border: 2px solid var(--Accent-Colour-1);
    padding-left: 1vw;
    border-radius: 1.5vh;
    outline: none;
}
.Inlog_Row input:focus
{
    outline: none;
}
#Inlog_Submit
{
    height: 6vh;
    background-color: var(--Main-Colour);
    border: 2px solid var(--Accent-Colour-1);
    border-radius: 1.5vh;
    font-family: 'Imprima', sans-serif;
    font-weight: bolder;
    font-size: large;
}

/* Aanmeld CSS Sofie */
#Aanmeld_Main
{
    background-color: var(--Main-Colour);
    max-width: 100vw;
    min-height: 80vh;
    padding-top: 6vh;
    padding-bottom: 6vh;
    display: flex;
    justify-content: center;
}
#Aanmeld_Div
{
    width: 35vw;
    height: 75;
    background-color: var(--Accent-Colour-2);
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-family: 'Imprima', sans-serif;
    color: white;
}
#Aanmeld_Form
{
    display: flex;
    flex-direction: column;
    margin-top: 6vh;
    margin-bottom: 6vh;
}
.Aanmeld_Row
{
    min-width: 25vw;
    height: 2.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Aanmeld_Row input
{
    height: 4vh;
    background-color: var(--Main-Colour);
    border: 2px solid var(--Accent-Colour-1);
    padding-left: 1vw;
    border-radius: 1.5vh;
    outline: none;
}
.Aanmeld_Row input:focus
{
    outline: none;
}
#Aanmeld_Submit
{
    height: 6vh;
    background-color: var(--Main-Colour);
    border: 2px solid var(--Accent-Colour-1);
    border-radius: 1.5vh;
    font-family: 'Imprima', sans-serif;
    font-weight: bolder;
    font-size: large;
}

/* Systeembeheerder CRUD CSS Sofie */
#Systeembeheerder_Main
{
    background-color: var(--Main-Colour);
    max-width: 100vw;
    min-height: 74vh;
    padding-top: 6vh;
    padding-bottom: 6vh;
}

/* CRUD Display CSS Sofie */
#Systeembeheer_CRUDtable
{
    background-color: gray;
    padding: 2vh 1vw;
}
.Systeembeheer_CRUDcolumn
{
    padding-left: 0.4vw;
    padding-right: 0.4vw;
}